#searchResultPokemon {
	min-width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: space-around;
	border: 2px solid #444;
}

.species, .speciesHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-around;
}

.sprite, .spriteHeader {
	display: inline;
}

.name {
	display: inline;
	font-size: 8px;
}

.types {
	display: inline;
	font-size: 8px;
}

.abilities {
	display: inline;
	font-size: 8px;
}

.baseHP, .baseHPHeader {
	display: inline;
}

.baseAttack, .baseAttackHeader {
	display: inline;
}

.baseDefense, .baseDefenseHeader {
	display: inline;
}

.baseSpAttack, .baseSpAttackHeader {
	display: inline;
}

.baseSpDefense, .baseSpDefenseHeader {
	display: inline;
}

.baseSpeed, .baseSpeedHeader {
	display: inline;
}

.BST, .BSTHeader {
	display: inline;
}