* {
	font-family: sans-serif;
}

.hide, .hideTemp {
	display: none !important
}

th {
	cursor: pointer;
	background: #333; 
  	color: white; 
  	font-weight: bold; 
}

.th-sort-asc::after {
  content: "\25b4";
}

.th-sort-desc::after {
  content: "\25be";
}

.th-sort-asc,
.th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}

h1, td, th {
	text-align: center;
}

tr:nth-of-type(odd) {  
  background: #eee; 
}

@media (hover: hover) {
    thead th:hover {
        background: rgba(0, 0, 0, 0.1);
    }
    #speciesTableTbody tr:hover {
        background-color: #add8e6;
        cursor: pointer;
    }
    .topButton:hover {
        background: salmon;
        cursor: pointer;
    }
}

.topButton {
  font-family: monospace;
  position: fixed;
  bottom: 5px;
  right: 5px;
  background: red;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
  filter: opacity(100%);
}
