#abilitiesTable {
	margin: auto;
	/*
  	table-layout: fixed;
  	*/
  	border-collapse: collapse;
}

#abilitiesInput {
	width: 300px;
}

#abilitiesButton {
	width: 100px;
}

#abilitiesTableThead th.name {
	width: 254px;
}

#abilitiesTableThead th.description {
	width: 650px;
}