#movesButton {
	width: 100px;
}

#movesTableThead th.type {
	width: 80px;
}
#movesTableThead th.move {
	width: 150px;
}
#movesTableThead th.power {
	width: 75px;
}
#movesTableThead th.accuracy {
	width: 50px;
}
#movesTableThead th.PP {
	width: 40px;
}
#movesTableThead th.priority {
	width: 50px;
}
#movesTableThead th.description {
	width: 250px;
}


#movesTable .background {
    margin: 5px auto;   
}



@media 
only screen and (max-width: 500px) {

	/*
	#movesTableThead th.description {
		display: none !important;
	}

	#movesTableTbody td.description {
		display: inline-block !important;
		width: 100%;
	}
	*/
}