#speciesButton {
    width: 100px;
}

#speciesTableThead th.ID {
	width: 40px;
}
#speciesTableThead th.sprite {
	width: 64px;
}
#speciesTableThead th.species {
	width: 250px;
}
#speciesTableThead th.types {
	width: 80px;
}
#speciesTableThead th.abilities {
	width: 175px;
}
#speciesTableThead th.baseHP {
	width: 40px;
}
#speciesTableThead th.baseAttack {
	width: 40px;
}
#speciesTableThead th.baseDefense {
	width: 40px;
}
#speciesTableThead th.baseSpAttack {
	width: 45px;
}
#speciesTableThead th.baseSpDefense {
	width: 45px;
}
#speciesTableThead th.baseSpeed {
	width: 40px;
}
#speciesTableThead th.BST {
	width: 45px;
}


[class*="TYPE_"] {
	display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 4rem;
    height: 23px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.8rem;
    padding-bottom: 2px;
}


.TYPE_NORMAL {background: #A8A77A;}
.TYPE_FIRE {background: #EE8130;}
.TYPE_WATER {background: #6390F0;}
.TYPE_ELECTRIC {background: #cf9a09;}
.TYPE_GRASS {background: #62a13d;}
.TYPE_ICE {background: #65a19e;}
.TYPE_FIGHTING {background: #C22E28;}
.TYPE_POISON {background: #A33EA1;}
.TYPE_GROUND {background: #b1954f;}
.TYPE_FLYING {background: #8571be;}
.TYPE_PSYCHIC {background: #F95587;}
.TYPE_BUG {background: #808f13;}
.TYPE_ROCK {background: #B6A136;}
.TYPE_GHOST {background: #735797;}
.TYPE_DRAGON {background: #6F35FC;}
.TYPE_DARK {background: #705746;}
.TYPE_STEEL {background: #8c8c9e;}
.TYPE_FAIRY {background: #D685AD;}

td.types > div > div {
    margin: 2px auto;
}

.abilities :not(th) {
    font-style: italic;
    font-size: 0.9rem;
}

.species {
    font-weight: 600;
}

@media 
only screen and (max-width: 700px) {
    #speciesTable, #speciesTableThead, #speciesTableTbody, #speciesTable th, #speciesTable td, #speciesTable tr { 
        /*padding: 0.3rem 0;*/
        display: block;
    }

    td.ID, td.sprite, td.species {
    	display: inline-block !important;
    	width: 33.3%;
    	box-sizing: border-box;
    }
    .baseHPContainer, 
    .baseAttackContainer, 
    .baseDefenseContainer, 
    .baseSpAttackContainer,
    .baseSpDefenseContainer,
    .baseSpeedContainer,
    .BSTContainer {
    	display: inline-block !important;
    	width: 14%;
    	box-sizing: border-box;
    }

    [class*="TYPE_"], .baseStatsHeader {
        display: inline-flex !important;
        font-weight: bold;
    }
    
    .abilities div {
        display: inline-block !important;
        border: none;
        padding: 0.2rem 2%;
        font-style: italic;
    }
    #speciesTable th {
        min-width: 100%;
        max-width: 100%;
    }
    #speciesTableThead > tr {
        display: none;
    }
    td, th {
        border: none;
    }
}