#speciesButton {
    width: 100px;
}

#speciesTableThead th.ID {
	width: 40px;
}
#speciesTableThead th.sprite {
	width: 64px;
}
#speciesTableThead th.species {
	width: 250px;
}
#speciesTableThead th.types {
	width: 80px;
}
#speciesTableThead th.abilities {
	width: 175px;
}
#speciesTableThead th.baseHP {
	width: 40px;
}
#speciesTableThead th.baseAttack {
	width: 40px;
}
#speciesTableThead th.baseDefense {
	width: 40px;
}
#speciesTableThead th.baseSpAttack {
	width: 45px;
}
#speciesTableThead th.baseSpDefense {
	width: 45px;
}
#speciesTableThead th.baseSpeed {
	width: 40px;
}
#speciesTableThead th.BST {
	width: 45px;
}

#speciesTable .background {
    margin: 2px auto;   
}

.abilities :not(th) {
    font-style: italic;
    font-size: 0.9rem;
}

.species {
    font-weight: 600;
}

@media 
only screen and (max-width: 700px) {
    #speciesTable, #speciesTableThead, #speciesTableTbody, #speciesTable th, #speciesTable td, #speciesTable tr { 
        padding: 0.3rem 0;
        display: block;
    }

    td.ID, td.sprite, td.species {
    	display: inline-block !important;
    	width: 33.3%;
    	box-sizing: border-box;
    }
    .baseHPContainer, 
    .baseAttackContainer, 
    .baseDefenseContainer, 
    .baseSpAttackContainer,
    .baseSpDefenseContainer,
    .baseSpeedContainer,
    .BSTContainer {
    	display: inline-block !important;
    	width: 14%;
    	box-sizing: border-box;
    }

    #speciesTable [class*="TYPE_"], .baseStatsHeader {
        display: inline-flex !important;
        font-weight: bold;
    }
    
    .abilities div {
        display: inline-block !important;
        border: none;
        padding: 0.2rem 2%;
        font-style: italic;
    }
    #speciesTable th {
        min-width: 100%;
        max-width: 100%;
        /*display: none;*/
    }
    #speciesTable td, #speciesTable th {
        border: none;
    }
}