input, button {
	display: block;
	margin: auto;
}

.hide, .hideTemp {
	display: none;
}

th {
	cursor: pointer;
	background: #333; 
  	color: white; 
  	font-weight: bold; 
}

.th-sort-asc::after {
  content: "\25b4";
}

.th-sort-desc::after {
  content: "\25be";
}

.th-sort-asc,
.th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
}


table {
	margin: auto;
  	table-layout: auto;
  	border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}

td, th { 
  border: 1px solid #ccc; 
  text-align: center; 
}


td:nth-of-type(2) {
	width: 64px;
}
td:nth-of-type(3) {
	width: 250px;
}
td:nth-of-type(4) {
	width: 64px;
}
td:nth-of-type(5) {
	width: 150px;
}
td:nth-of-type(6) {
	width: 40px;
}
td:nth-of-type(7) {
	width: 40px;
}
td:nth-of-type(8) {
	width: 40px;
}
td:nth-of-type(9) {
	width: 40px;
}
td:nth-of-type(10) {
	width: 40px;
}
td:nth-of-type(11) {
	width: 40px;
}
td:nth-of-type(12) {
	width: 45px;
}